//<МИКСИНЫ>==========================================================================================================================================================================
@import "_mixins";
//</МИКСИНЫ>=========================================================================================================================================================================

//<ШРИФТЫ>===========================================================================================================================================================================

//<Подключаемые шрифты>==============================================================================================================================================================
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
//</Подключаемые шрифты>=============================================================================================================================================================

//<Шрифт по умолчанию>===============================================================================================================================================================
$font-family: 'Roboto', sans-serif;
//</Шрифт по умолчанию>==============================================================================================================================================================

//</ШРИФТЫ>==========================================================================================================================================================================

//<ПЕРЕМЕННЫЕ>=======================================================================================================================================================================
$min-width: 320px;
//</ПЕРЕМЕННЫЕ>======================================================================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=====================================================================================================================================
@import "_header";
@import "_footer";
@import "_colors_HTML";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================================================

//<ОБНУЛЕНИЕ СВОЙСТВ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================================================================
@import "_null";

body {
	background-color: $BurlyWood;
	color: $Black;

}
//</ОБНУЛЕНИЕ СВОЙСТВ, ОБЩИЕ ПАРАМЕТРЫ>==============================================================================================================================================

//<ОБОЛОЧКА>=========================================================================================================================================================================
.wrapper {
	height: 100%;
	
}
//</ОБОЛОЧКА>========================================================================================================================================================================

//<ОСНОВНАЯ СЕТКА>===================================================================================================================================================================
.container {
	width: 1400px;
	min-height: 100%;
	border: 1px solid gray;
	background-color: $White;
	padding: 20px 15px 30px 15px;
	margin: 0 auto;
}
//</ОСНОВНАЯ СЕТКА>===================================================================================================================================================================

.grid-content {
	display: grid;
	grid-template-rows: 100px repeat(3, auto);
	grid-template-columns: repeat(4, 23.5%);
	grid-auto-flow: row;
	justify-content: center;
	align-content:center;
	justify-items: stretch;
	align-items:stretch;
	background-color:gray;
	row-gap: 20px;
	column-gap: 20px;
	background-color: rgba(255, 215, 0, 0.2);
	padding-top: 20px;
	padding-bottom: 30px;
}

.h1-main {
	grid-column: 1/ 5;
	font-size: 36px;
	text-align: center;
	font-weight: 700;
}

.h1-HW {
	font-size: 36px;
	text-align: center;
	font-weight: 700;
}

.grid-section {
	background-color: $LightGray;
	//border: 1px solid $Black;
	padding: 15px;
	box-shadow: 0 0 20px;
	border-radius: 5% 20%;
	h2 {
		text-align: center;
		font-weight: 700;
		font-size: 22px;
		line-height: 40px;
		margin-bottom: 10px;
	}
	article {
		margin-bottom: 25px;
	}
	p{
		text-align: left;
		padding-bottom: 15px;
	}
	a{		
		padding-left: 70%;
		color: $Blue_;
		&:hover {
			opacity: 0.5;
		}
		&:active {
			opacity: 1;
		}
	}
}
